<div class="text-danger">{{ fieldLabel() }} is invalid:</div>
<div class="text-info">{{ errors() | json }}</div>
@if (errors()['required']) {
  <div class="text-danger">{{ fieldLabel() }} is required.</div>
}
@if (errors()['minlength']) {
  <div class="text-danger">
    From minlength is {{ errors()['minlength'].requiredLength }} but actual length is
    {{ errors()['minlength'].actualLength }}.
  </div>
}
@if (errors()['maxlength']) {
  <div class="text-danger">{{ fieldLabel() }} maxlength is {{ errors()['maxlength'].requiredLength }}.</div>
}
@if (errors()['pattern']) {
  <div class="text-danger">{{ fieldLabel() }} has invalid input.</div>
}
@if (errors()['city']) {
  <div class="text-danger">
    {{ fieldLabel() }} is "{{ errors()['city'].actualCity }}" but should be a city of "{{
      errors()['city'].validCities
    }}".
  </div>
}
@if (errors()['asyncCity']) {
  <div class="text-danger">No flight starting from "{{ errors()['asyncCity'] }}".</div>
}
