<div class="card">
  <div class="header">
    <h1 class="title">Flight search</h1>
  </div>

  <div class="content">
    <form #flightSearchForm="ngForm">
      <div class="form-group">
        <label for="fsf_from">From (*)</label>
        <input
          id="fsf_from"
          [(ngModel)]="from"
          autocomplete="false"
          name="from"
          class="form-control"
          required
          minlength="3"
          maxlength="15"
          pattern="[a-zA-ZäöüÄÖÜß ]+"
        />
      </div>

      @if (flightSearchForm.controls['from']?.errors) {
        <div>
          <div class="text-danger">From is invalid:</div>
          <div class="text-info">{{ flightSearchForm.controls['from'].errors | json }}</div>
          @if (flightSearchForm.controls['from'].errors?.['required']) {
            <div class="text-danger">From is required.</div>
          }
          @if (flightSearchForm.controls['from'].errors?.['minlength']) {
            <div class="text-danger">
              From minlength is {{ flightSearchForm.controls['from'].errors?.['minlength'].requiredLength }} but actual
              length is {{ flightSearchForm.controls['from'].errors?.['minlength'].actualLength }}.
            </div>
          }
          @if (flightSearchForm.controls['from'].errors?.['maxlength']) {
            <div class="text-danger">From maxlength is 15.</div>
          }
          @if (flightSearchForm.controls['from'].errors?.['pattern']) {
            <div class="text-danger">From has invalid input.</div>
          }
        </div>
      }

      <div class="form-group">
        <label for="fsf_to">To (*)</label>
        <input
          id="fsf_to"
          [(ngModel)]="to"
          name="to"
          class="form-control"
          required
          minlength="3"
          maxlength="15"
          pattern="[a-zA-ZäöüÄÖÜß ]+"
        />
      </div>

      @if (flightSearchForm.controls['to']?.errors) {
        <div>
          <div class="text-danger">To is invalid:</div>
          <div class="text-info">{{ flightSearchForm.controls['to'].errors | json }}</div>
          @if (flightSearchForm.controls['to'].errors?.['required']) {
            <div class="text-danger">To is required.</div>
          }
          @if (flightSearchForm.controls['to'].errors?.['minlength']) {
            <div class="text-danger">
              From minlength is {{ flightSearchForm.controls['to'].errors?.['minlength'].requiredLength }} but actual
              length is {{ flightSearchForm.controls['to'].errors?.['minlength'].actualLength }}.
            </div>
          }
          @if (flightSearchForm.controls['to'].errors?.['maxlength']) {
            <div class="text-danger">To maxlength is 15.</div>
          }
          @if (flightSearchForm.controls['to'].errors?.['pattern']) {
            <div class="text-danger">To has invalid input.</div>
          }
        </div>
      }

      <div class="form-group">
        <button [disabled]="!to || !from || flightSearchForm.invalid" (click)="onSearch()" class="btn btn-default">
          Search
        </button>
      </div>
    </form>
  </div>
</div>

<!--
@if (flights.length > 0) {
  <div class="card">
    <div class="header">
      <h2 class="title">Found flight(s)</h2>
    </div>

    <div class="content">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Id</th>
            <th>From</th>
            <th>To</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (flight of flights; track flight.id) {
            <tr [class.active]="flight === selectedFlight">
              <td>{{ flight.id }}</td>
              <td>{{ flight.from | city: 'short' }}</td>
              <td>{{ flight.to | city: 'long' }}</td>
              <td>{{ flight.date | date: 'dd.MM.yyyy HH:mm' }}</td>
              <td>
                <a (click)="onSelect(flight)">Edit</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}
-->

@if (flights.length > 0) {
  <div class="row">
    @for (flight of flights; track flight.id) {
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <!--<app-flight-card [item]="flight" [selected]="basket[flight.id]" (selectedChange)="basket[flight.id] = $event" />-->
        <app-flight-card [item]="flight" [selected]="basket[flight.id]">
          <button class="btn btn-default" (click)="basket[flight.id] = !basket[flight.id]">
            {{ basket[flight.id] ? 'Deselect' : 'Select' }}
          </button>

          <app-flight-status-toggle style="margin-left: 10px" [(delayed)]="flight.delayed" />
        </app-flight-card>
      </div>
    }
  </div>
}

<div class="card">
  <div class="content">
    <pre>{{ basket | json }}</pre>
  </div>
</div>

@if (flights$ | async; as asyncFlights) {
  @if (asyncFlights.length > 0) {
    <div class="card">
      <div class="header">
        <h2 class="title">Async flight(s)</h2>
      </div>

      <div class="content">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Id</th>
              <th>From</th>
              <th>To</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (flight of asyncFlights; track flight.id) {
              <tr [class.active]="flight === selectedFlight">
                <td>{{ flight.id }}</td>
                <td>{{ flight.from | city: 'short' }}</td>
                <td>{{ flight.to | city: 'long' }}</td>
                <td>{{ flight.date | date: 'dd.MM.yyyy HH:mm' }}</td>
                <td>
                  <a (click)="onSelect(flight)">Edit</a>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  }
}

<!-- duplicated this part again to demonstrate signals -->
@if (flightsLength() > 0) {
  <div class="card">
    <div class="header">
      <h2 class="title">Signal flight(s)</h2>
    </div>

    <div class="content">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Signal</th>
            <th>From</th>
            <th>To</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (flight of flightsSignal(); track flight.id) {
            <tr [class.active]="flight.id === selectedFlight?.id">
              <td>{{ flight.id }}</td>
              <td>{{ flight.from | city: 'short' }}</td>
              <td>{{ flight.to | city: 'long' }}</td>
              <td>{{ flight.date | date: 'dd.MM.yyyy HH:mm' }}</td>
              <td>
                <a (click)="onSelect(flight)">Edit</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}

@if (selectedFlight) {
  <div class="card">
    <div class="header">
      <h2 class="title">Flight edit</h2>
    </div>

    <div class="content">
      <div class="form-group">
        <label>Id</label>
        <input [(ngModel)]="selectedFlight.id" class="form-control" />
      </div>

      <div class="form-group">
        <label>From</label>
        <input [(ngModel)]="selectedFlight.from" class="form-control" />
      </div>

      <div class="form-group">
        <label>To</label>
        <input [(ngModel)]="selectedFlight.to" class="form-control" />
      </div>

      <div class="form-group">
        <label>Date</label>
        <input [(ngModel)]="selectedFlight.date" class="form-control" />
      </div>

      <button (click)="onSave()" class="btn btn-default">Save</button>

      @if (message) {
        <div>
          {{ message }}
        </div>
      }
    </div>
  </div>
}
