<div class="card">
  <div class="header">
    <h1 class="title">Flight search</h1>
  </div>

  <div class="content">
    <form #flightSearchForm="ngForm" [roundTrip]="['from', 'to']">
      <div class="form-group">
        <label for="fsf_from">From (*)</label>
        <input
          id="fsf_from"
          [(ngModel)]="from"
          autocomplete="false"
          name="from"
          class="form-control"
          required
          [minlength]="minLength"
          [maxlength]="maxLength"
          pattern="[a-zA-ZäöüÄÖÜß ]+"
          asyncCity
        />
      </div>

      @if (flightSearchForm.controls['from'] && flightSearchForm.controls['from'].pending) {
        <div class="text-warning">... Executing Async Validator(s) ...</div>
      }

      @if (
        flightSearchForm.controls['from'] &&
        flightSearchForm.controls['from'].errors &&
        flightSearchForm.controls['from'].touched
      ) {
        <app-flight-validation-errors [errors]="flightSearchForm.controls['from'].errors" fieldLabel="From" />
      }

      <div class="form-group">
        <label for="fsf_to">To (*)</label>
        <input
          id="fsf_to"
          [(ngModel)]="to"
          name="to"
          class="form-control"
          required
          [minlength]="minLength"
          [maxlength]="maxLength"
          pattern="[a-zA-ZäöüÄÖÜß ]+"
        />
      </div>

      @if (
        flightSearchForm.controls['to'] &&
        flightSearchForm.controls['to'].errors &&
        flightSearchForm.controls['to'].touched
      ) {
        <app-flight-validation-errors [errors]="flightSearchForm.controls['to'].errors" fieldLabel="To" />
      }

      @if (flightSearchForm.errors && flightSearchForm.dirty) {
        <app-flight-validation-errors [errors]="flightSearchForm.errors" fieldLabel="Form" />
      }

      <div class="form-group">
        <button (click)="onSearch()" class="btn btn-default">Search</button>
      </div>
    </form>
  </div>
</div>

<!--
@if (flights.length > 0) {
  <div class="card">
    <div class="header">
      <h2 class="title">Found flight(s)</h2>
    </div>

    <div class="content">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Id</th>
            <th>From</th>
            <th>To</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (flight of flights; track flight.id) {
            <tr [class.active]="flight === selectedFlight">
              <td>{{ flight.id }}</td>
              <td>{{ flight.from | city: 'short' }}</td>
              <td>{{ flight.to | city: 'long' }}</td>
              <td>{{ flight.date | date: 'dd.MM.yyyy HH:mm' }}</td>
              <td>
                <a (click)="onSelect(flight)">Edit</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}
-->

@if (flights.length > 0) {
  <div class="row">
    @for (flight of flights; track flight.id) {
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <!--<app-flight-card [item]="flight" [selected]="basket[flight.id]" (selectedChange)="basket[flight.id] = $event" />-->
        <app-flight-card [item]="flight" [selected]="basket[flight.id]">
          <button class="btn btn-default" style="margin-right: 10px" (click)="basket[flight.id] = !basket[flight.id]">
            {{ basket[flight.id] ? 'Deselect' : 'Select' }}
          </button>

          <app-flight-status-toggle style="margin-right: 10px" [(delayed)]="flight.delayed" />

          <button class="btn btn-default" (click)="flightToEdit = flight">Edit</button>
        </app-flight-card>
      </div>
    }
  </div>
}

<div class="card">
  <div class="content">
    <pre>{{ basket | json }}</pre>
  </div>
</div>

@if (flights$ | async; as asyncFlights) {
  @if (asyncFlights.length > 0) {
    <div class="card">
      <div class="header">
        <h2 class="title">Async flight(s)</h2>
      </div>

      <div class="content">
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Id</th>
              <th>From</th>
              <th>To</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (flight of asyncFlights; track flight.id) {
              <tr [class.active]="flight === selectedFlight">
                <td>{{ flight.id }}</td>
                <td>{{ flight.from | city: 'short' }}</td>
                <td>{{ flight.to | city: 'long' }}</td>
                <td>{{ flight.date | date: 'dd.MM.yyyy HH:mm' }}</td>
                <td>
                  <a (click)="onSelect(flight)">Edit</a>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  }
}

<!-- duplicated this part again to demonstrate signals -->
@if (flightsLength() > 0) {
  <div class="card">
    <div class="header">
      <h2 class="title">Signal flight(s)</h2>
    </div>

    <div class="content">
      <table class="table table-condensed">
        <thead>
          <tr>
            <th>Signal</th>
            <th>From</th>
            <th>To</th>
            <th>Date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (flight of flightsSignal(); track flight.id) {
            <tr [class.active]="flight.id === selectedFlight?.id">
              <td>{{ flight.id }}</td>
              <td>{{ flight.from | city: 'short' }}</td>
              <td>{{ flight.to | city: 'long' }}</td>
              <td>{{ flight.date | date: 'dd.MM.yyyy HH:mm' }}</td>
              <td>
                <a (click)="onSelect(flight)">Edit</a>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
}

<!--@if (selectedFlight) {
  <div class="card">
    <div class="header">
      <h2 class="title">Flight edit</h2>
    </div>

    <div class="content">
      <div class="form-group">
        <label>Id</label>
        <input [(ngModel)]="selectedFlight.id" class="form-control" />
      </div>

      <div class="form-group">
        <label>From</label>
        <input [(ngModel)]="selectedFlight.from" class="form-control" />
      </div>

      <div class="form-group">
        <label>To</label>
        <input [(ngModel)]="selectedFlight.to" class="form-control" />
      </div>

      <div class="form-group">
        <label>Date</label>
        <input [(ngModel)]="selectedFlight.date" class="form-control" />
      </div>

      <button (click)="onSave()" class="btn btn-default">Save</button>

      @if (message) {
        <div>
          {{ message }}
        </div>
      }
    </div>
  </div>
}-->

@if (flightToEdit) {
  <div class="card">
    <div class="header">
      <h2 class="title">Flight edit</h2>
    </div>

    <div class="content">
      <app-flight-edit [flight]="flightToEdit" />
    </div>
  </div>
}
